<%- contentFor('HeaderCss') %>

    <!-- select2 css -->
    <link href="assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

    <!-- dropzone css -->
    <link href="assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />
    <%- contentFor('body') %>


        <!-- start page title -->
        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Add Driver</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Basic Information</h4>
                        <p class="card-title-desc">Fill in all the fields below.</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label for="drivername">Name</label>
                                        <input id="drivernameInput" name="drivername" type="text" class="form-control"
                                            placeholder="Enter the driver's name.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverfamily">Last Name
                                        </label>
                                        <input id="driverfamilyInput" name="driverfamily" type="text"
                                            class="form-control" placeholder="Enter the driver's last name.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverPhoneNumber">Phone Number</label>
                                        <input id="driverPhoneNumberInput" name="driverPhoneNumber" type="text"
                                            class="form-control" placeholder="Enter the driver's phone number.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverAddress">Address</label>
                                        <textarea class="form-control" id="driverAddressInput" rows="1"
                                            placeholder="Enter the driver's full address."></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverUserName">Username</label>
                                        <input id="driverUserNameInput" name="driverUserName" type="text"
                                            class="form-control" placeholder="Enter the driver's email address.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverPass">Password</label>
                                        <input id="driverPassInput" name="driverPass" type="text" class="form-control"
                                            placeholder="Enter the driver's password.">
                                    </div>
                                </div>

                                <div class="col-sm-6" style="direction: ltr;">
                                    <div class="mb-3">
                                        <label for="driverNationalCode">National Code</label>
                                        <input id="driverNationalCodeInput" name="driverNationalCode" type="text"
                                            class="form-control" placeholder="Enter the driver's national code.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverDateOfBirth" class="form-label">Date of Birth</label>
                                        <input class="form-control" type="date" value="2019-08-19"
                                                id="driverDateOfBirthInput">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverNumberPlates">Number Plates</label>
                                        <input id="driverNumberPlatesInput" name="driverNumberPlates" type="text"
                                            class="form-control" placeholder="Enter the driver's number plates.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverCarModel">Car Model</label>
                                        <input id="driverCarModelInput" name="driverCarModel" type="text"
                                            class="form-control" placeholder="Enter the driver's car model.">
                                    </div>
                                    <div class="mb-3">
                                        <label for="driverDescription">Description</label>
                                        <textarea class="form-control" id="driverDescriptionInput" rows="5"
                                            placeholder="Enter any additional notes about the driver."></textarea>
                                    </div>

                                </div>
                            </div>

                            <div class="d-flex flex-wrap gap-2">
                                <button data-bs-toggle="modal" data-bs-target="#myModal" type="button"
                                    onclick="addDriver()" class="btn btn-primary waves-effect waves-light">افزودن
                                    راننده</button>
                                <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel"
                                    aria-hidden="true" data-bs-scroll="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">
                                                    Success</h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label for="drivername" id="notifModal">Added.</label>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" onclick="refresh()"
                                                    data-bs-dismiss="modal">OK</button>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div>
                                <!-- <button type="reset" class="btn btn-secondary waves-effect waves-light">لغو</button> -->
                            </div>
                        </form>

                    </div>
                </div>
                <!-- end card-->
                </form>
                <div class="row" style="direction: ltr;">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Registered Drivers</h4>
                        </div>
                    </div>
                </div>
                <div class="row" style="direction: ltr;">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-2">
                                    <div class="col-sm-4">
                                        <div class="search-box me-2 mb-2 d-inline-block">
                                            <div class="position-relative">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <i class="bx bx-search-alt search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap table-check">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="align-middle">Row </th>
                                            <th class="align-middle">Name </th>
                                            <th class="align-middle">Last Name </th>
                                            <th class="align-middle">Phone Number </th>
                                            <th class="align-middle">Address </th>
                                            <th class="align-middle">Username </th>
                                            <th class="align-middle">Password </th>
                                            <th class="align-middle">National Code </th>
                                            <th class="align-middle">Date of Birth</th>
                                            <th class="align-middle">Number Plates </th>
                                            <th class="align-middle">Car Model </th>
                                            <th class="align-middle">Description </th>
                                            <th class="align-middle">Actions </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0 ; i < list.length ; i++){ %>
                                            <tr>
                                                <td>
                                                    <%=i+1%>
                                                </td>
                                                <td>
                                                    <%=list[i].name %>
                                                </td>
                                                <td>
                                                    <%=list[i].family %>
                                                </td>
                                                <td>
                                                    <%=list[i].phoneNumber %>
                                                </td>
                                                <td>
                                                    <%=list[i].address %>
                                                </td>
                                                <td>
                                                    <%=list[i].userName %>
                                                </td>
                                                <td>
                                                    <%=list[i].pass %>
                                                </td>
                                                <td>
                                                    <%=list[i].nationalCode %>
                                                </td>
                                                <td>
                                                    <%=list[i].dateOfBirth %>
                                                </td>
                                                <td>
                                                    <%=list[i].numberPlates %>
                                                </td>
                                                <td>
                                                    <%=list[i].carModel %>
                                                </td>
                                                <td>
                                                    <%=list[i].description %>
                                                </td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="javascript:void(0);" class="text-success"><i
                                                                class="mdi mdi-pencil font-size-18"></i></a>
                                                        <a href="javascript:void(0);" class="text-danger"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#myModal2<%=list[i]._id.toString()%>">
                                                            <i class="mdi mdi-delete font-size-18"></i></a>
                                                        <div id="myModal2<%=list[i]._id.toString()%>" class="modal fade"
                                                            tabindex="-1" aria-labelledby="myModalLabel"
                                                            aria-hidden="true" data-bs-scroll="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="myModalLabel">
                                                                            Attention</h5>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="mb-3">
                                                                            <label for="drivername">Are you sure you want to delete this driver?</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-primary"
                                                                            onclick="deleteDriver('<%= list[i].name %>')"
                                                                            data-bs-toggle="modal" data-bs-target="#myModal"
                                                                            data-bs-dismiss="modal">Yes</button>
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">No</button>
                                                                    </div>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div>
                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                        <i class="mdi mdi-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var givenId = "none";
            function addDriver() {
                addItem(["drivernameInput",
                    "driverfamilyInput",
                    "driverPhoneNumberInput",
                    "driverAddressInput",
                    "driverUserNameInput",
                    "driverPassInput",
                    "driverNationalCodeInput",
                    "driverDateOfBirthInput",
                    "driverNumberPlatesInput",
                    "driverCarModelInput",
                    "driverDescriptionInput"], [
                    "name", "family", "phoneNumber", "address", "userName", "pass", "nationalCode", "dateOfBirth", "numberPlates", "carModel", "description"
                ], givenId, '/define-driver/newDriver')
                givenId = ""
            }

            function updateDriver(id, nameTxt, familyTxt, phoneNumberTxt, addressTxt, userNameTxt, passTxt, nationalCodeTxt, dateOfBirthTxt, numberPlatesTxt, carModelTxt, descriptionTxt) {
                givenId = id;
                var name = document.getElementById("drivernameInput");
                var family = document.getElementById("driverfamilyInput");
                var phoneNumber = document.getElementById("driverPhoneNumberInput");
                var address = document.getElementById("driverAddressInput");
                var userName = document.getElementById("driverUserNameInput");
                var pass = document.getElementById("driverPassInput");
                var nationalCode = document.getElementById("driverNationalCodeInput");
                var dateOfBirth = document.getElementById("driverDateOfBirthInput");
                var numberPlates = document.getElementById("driverNumberPlatesInput");
                var carModel = document.getElementById("driverCarModelInput");
                var description = document.getElementById("driverDescriptionInput");

                name.value = nameTxt;
                family.value = familyTxt;
                phoneNumber.value = phoneNumber;
                address.value = addressTxt;
                userName.value = userNameTxt;
                pass.value = passTxt;
                nationalCode.value = nationalCodeTxt;
                dateOfBirth.value = dateOfBirthTxt;
                numberPlates.value = numberPlatesTxt;
                carModel.value = carModelTxt;
                description.value = descriptionTxt;

                btn.innerText = "به روز رسانی"
            }
            function deleteDriver(id) {
                deleteItem(id, "/define-driver/deleteDriver");
            }
        </script>
        <!-- end row -->
        <%- contentFor('FooterJs') %>
            <script src="assets/libs/select2/js/select2.min.js"></script>

            <!-- dropzone plugin -->
            <script src="assets/libs/dropzone/min/dropzone.min.js"></script>

            <!-- init js -->
            <script src="assets/js/pages/ecommerce-select2.init.js"></script>