<%- contentFor('HeaderCss') %>
    <%- contentFor('body') %>
        <!-- start page title -->
        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Regions</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Define Regions</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">

                                <div class="mb-3">
                                    <label for="productname">Region Name</label>
                                    <input id="nameInput" name="productname" type="text" class="form-control"
                                        placeholder="Enter the region name.">
                                </div>

                                <div class="mb-3">
                                    <label for="productdesc">Region Address</label>
                                    <textarea class="form-control" id="addressInput" rows="2"
                                        placeholder="Enter the region address."></textarea>
                                </div>

                            </div>
                    </div>

                    <div class="d-flex flex-wrap gap-2" style="margin-right: 1rem; margin-bottom: 1rem;">
                        <button data-bs-toggle="modal" data-bs-target="#myModal" id="addBtn" type="button"
                            onclick="addRegion()" class="btn btn-primary waves-effect waves-light">Add</button>
                        <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel"
                            aria-hidden="true" data-bs-scroll="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">
                                            Success</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="productname" id="notifModal">The region has been successfully added.</label>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                            onclick="refresh()">I understand</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                        <!-- <button type="reset" class="btn btn-secondary waves-effect waves-light">لغو</button> -->
                    </div>
                    </form>

                </div>
            </div>

            </form>
            <div class="row" style="direction: ltr;">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Defined Regions</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="direction: ltr;">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div><!-- end col-->
                        </div>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-check">
                                <thead class="table-light">
                                    <tr>
                                        <th style="width: 20px;" class="align-middle">
                                            Index
                                        </th>
                                        <!-- <th class="align-middle">شناسه منطقه</th> -->
                                        <th class="align-middle">Region Name</th>
                                        <th class="align-middle">Region Address</th>
                                        <th class="align-middle">Operations</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i < list.length ; i++) { %>
                                        <tr>
                                            <td>
                                                <%= i+1 %>
                                            </td>
                                            <!-- <td><a href="javascript: void(0);" class="text-body fw-bold"><%= list[i]._id %></a> </td> -->
                                            <td>
                                                <%= list[i].name %>
                                            </td>
                                            <td>
                                                <%= list[i].address %>
                                            </td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="javascript:updateRegion('<%=list[i]._id.toString()%>','<%=list[i].name.toString()%>','<%=list[i].address.toString()%>');"
                                                        class="text-success"><i
                                                            class="mdi mdi-pencil font-size-18"></i></a>
                                                    <a href="javascript:void(0);" class="text-danger"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#myModal<%=list[i]._id.toString()%>">
                                                        <i class="mdi mdi-delete font-size-18"></i></a>
                                                    <div id="myModal<%=list[i]._id.toString()%>" class="modal fade"
                                                        tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"
                                                        data-bs-scroll="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="myModalLabel">
                                                                        Attention</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="mb-3">
                                                                        <label for="productname">Are you sure you want to delete it?</label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-primary"
                                                                        onclick="deleteRegion('<%= list[i]._id.toString() %>')"
                                                                        data-bs-toggle="modal" data-bs-target="#myModal"
                                                                        data-bs-dismiss="modal">Yes</button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">No</button>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div>
                                            </td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                        <ul class="pagination pagination-rounded justify-content-end mb-2">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <i class="mdi mdi-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <i class="mdi mdi-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <script>
            var givenId = 'none';
            function addRegion() {
                addItem(["nameInput", "addressInput"], ["name", "address"], givenId, '/define-regions/newRegion')
                givenId = ""
            }
            function updateRegion(id, nameTxt, addressTxt) {
                var name = document.getElementById("nameInput");
                var address = document.getElementById("addressInput");

                givenId = id;
                name.value = nameTxt;
                address.value = addressTxt;
                btn.innerText = "به روز رسانی"
            }
            function deleteRegion(id) {
                deleteItem(id, "/define-regions/deleteRegion");
            }
        </script>
        <%- contentFor('FooterJs') %>